/* Info card */
.info-card {
  text-align: center;
  background-color: white;
  margin-top: 20px;
  width: 100%;
}
.info-card img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
  border: 10px solid white;
}
.info-card p {
  margin-top: 20px;
}
.info-card h3 {
  font-size: 34px;
  color: #FF06D1;
}
.info-card a {
  font-weight: 400;
  background-color:transparent;
  border:2px solid #FF06D1;
  display:inline-block;
  cursor:pointer;
  color:#FF06D1;
  font-size:18px;
  width: 90%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration:none;
  margin-bottom: 10px;
}
.info-card a:hover {
  color: white;
  background-color: #FF06D1;
}
.info-card a:active {
  position:relative;
  top:1px;
}

.info-card strong {
  color: black;
  background-color: #17FF06;
}
/* My statment */
.my-statment {
  max-width: 100%;
}
.my-statment p {
  margin-top: 20px;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .info-card{
    text-align: left;
    border: 10px solid white;
    width: 30%;
    position: relative;
    display: inline-block;
  }
  .info-card img{
    width: 100%;
    border: 0;
  }
  .info-card a {
    width: 99%
  }
  .my-statment {
    position: relative;
    display: inline-block;
    float: right;
    max-width: 65%;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
}
