body {
	padding: 50px 0px 50px 0px;
}

.container {
	width: 900px;
  	margin-right: auto;
  	margin-left: auto;
}

.fot {
	width: 400px;
	padding-top: 100px;
	padding-bottom: 10px;
  	margin-right: auto;
  	margin-left: auto;
  	text-align: center;
  	opacity:0.4;
}

#ingredients {
	background: gray url(../img/ingredients-blank.jpg);
	background-repeat: no-repeat;
	background-position:center; 
    width: 900px;
    height: 300px; 
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

.checkmark {
	text-decoration: line-through;
}

p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 21px;
	opacity:0.8;
}

#chx {
	background: gray url(../img/Check box.png);
	background-repeat: no-repeat;
	background-position:center; 
    width: 22px;
    height: 22px; 
}

.chs {
	background: gray url(../img/Check mark.png);
	background-repeat: no-repeat;
	background-position:center; 
    width: 20px;
    height: 20px; 
}